<div fxLayout="row" fxLayoutGap="12px" [style.margin-bottom]="'1vh'" [style.margin-top]="'12px'">
  <mat-form-field [style.width]="'30%'" appearance="fill">
    <mat-label>Categorias</mat-label>
    <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
      <mat-option>Clear</mat-option>
      <mat-option value="valid">BD</mat-option>
      <mat-option value="invalid">Front End</mat-option>
    </mat-select>
    <mat-hint></mat-hint>
    <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
    <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
      Your selection is invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field [style.width]="'30%'" appearance="fill">
    <mat-label>Pais</mat-label>
    <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
      <mat-option>Clear</mat-option>
      <mat-option value="valid">Chile </mat-option>
      <mat-option value="invalid">Mexico </mat-option>
    </mat-select>
    <mat-hint></mat-hint>
    <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
    <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
      Your selection is invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field [style.width]="'30%'" appearance="fill">
    <mat-label>+ Categorias</mat-label>
    <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
      <mat-option>Clear</mat-option>
      <mat-option value="valid">Filtro 1</mat-option>
      <mat-option value="invalid">Filtro 2</mat-option>
    </mat-select>
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
    <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
      Your selection is invalid
    </mat-error>
  </mat-form-field>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Busca tu Trabajo Ideal</mat-label>
    <input type="text" (keyup)="doFilter($event)" matInput>

    <mat-icon matSuffix>travel_explore</mat-icon>

  </mat-form-field>
</form>
<mat-form-field [style.width]="'92%'">
  <mat-label>Filtra tus tecnologias :</mat-label>
  <mat-select [formControl]="categoriesControl" multiple>

    <mat-select-trigger>
      <mat-chip-list>
        <mat-chip [style.margin-top]="'5vh'"  *ngFor="let category of categoriesControl.value" [removable]="true"
          (removed)="onCatRemoved(category)" color="accent" selected>
          {{ category }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>

    <mat-option fxLayout="row" *ngFor="let category of categories" [value]="category">
      {{ category }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div fxLayout="row" fxLayoutGap="12px" [style.margin-bottom]="'10vh'" [style.margin-top]="'12px'">
  <mat-card class="example-card">
    <img mat-card-image
      src="https://st3.depositphotos.com/1008851/18430/v/600/depositphotos_184308078-stock-illustration-rchain-cryptocurrency-symbol.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">


    <img mat-card-image src="https://www.freepnglogos.com/uploads/walmart-logo-24.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">


    <img mat-card-image
      src="https://www.producemarketguide.com/sites/default/files/styles/company_logo/public/2020-09/hfb_headerlogo_sm2.png?itok=sqaAVJnJ"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">


    <img mat-card-image src="https://www.ahoraenchile.cl/u/fotografias/m/2021/8/26/f768x1-34056_34183_79.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">


    <img mat-card-image
      src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/092014/citib.png?itok=0pm5EEZf"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card>
  <mat-card-title>Empleos Disponibles</mat-card-title>


  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> image </th>
      <td mat-cell *matCellDef="let element">
        <img mat-card-sm-image src="https://getonbrd-prod.s3.amazonaws.com/uploads/users/logo/12574/profile_photo.png">

      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Esta Vivo? </th>
      <td mat-cell *matCellDef="let element"> {{element.status }} </td>
    </ng-container>
    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apodo </th>
      <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="20" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
</mat-card>