

<mat-nav-list>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Juan Pablo Ibañez Maians</mat-card-title>
          <mat-card-subtitle>Ingeniero Full Stack</mat-card-subtitle>
          <img mat-card-sm-image src="https://s3.amazonaws.com/media.muckrack.com/profile/images/7587228/pacccc-300x292.jpg.256x256_q100_crop-smart.jpg" >
        </mat-card-title-group>
        <mat-card-content>
          Level Senior
        </mat-card-content>
      </mat-card>
    
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home_work</mat-icon> <span class="nav-caption">Home</span>
    </a>
     
    <a mat-list-item routerLink="/owner/owners" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>
     </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>person_outline</mat-icon> <span class="nav-caption">Mi Perfil</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>calendar_month</mat-icon> <span class="nav-caption">Calendario</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>work_outline</mat-icon> <span class="nav-caption">Ofertas</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>settings_suggest</mat-icon> <span class="nav-caption">Proyectos</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>mark_chat_unread</mat-icon> <span class="nav-caption">Mensajes</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>monitor_heart</mat-icon> <span class="nav-caption">Actividades</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>diversity_3</mat-icon> <span class="nav-caption">Comunidades</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>groups_3</mat-icon> <span class="nav-caption">Mi Equipo</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>send_time_extension</mat-icon> <span class="nav-caption">Mis Invitaciones</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>quiz</mat-icon> <span class="nav-caption">Centro de Ayuda</span>
    </a>
   
   
</mat-nav-list>

